In [1]:
x = 5
y = 12
z = x+y
print(z)

17

In [ ]:
Rules for declaring the variables in python :

In [ ]:
Rule 1 : No Namespace while declaring the variable in python

In [2]:
first name = 'Khalida'
print(first name)

SyntaxError: invalid syntax (277700405.py, line 1)

In [3]:
firstname = 'Khalida'
print(firstname)

Khalida

In [4]:
first_name = 'Khalida'
print(first_name)

Khalida

In [ ]:
Rule 2 : A variable name should not start with a number **

In [6]:
1name = 'rahul'
print(rahul)

SyntaxError: invalid syntax (3414445137.py, line 1)

In [7]:
name1 = 'rahul'
print(name1)

rahul

In [ ]:
Rule 3 : A varibale name should not contain any special characters

In [ ]:
@ # $ % ^ &

In [8]:
name@= 'divya'
print(name@)

SyntaxError: invalid syntax (601139238.py, line 2)

In [ ]:
introduction to datatypes in python :
    1 strings =====> str
    2 lists =======> list
    3 Numbers =====> integers(int) and float(decimals)  
    4 tuples ======> tuple
    5 dictionaries ==> dict

In [ ]:
Classification of datatypes :
    Broadly data types are classified into two categories :
        1 mutable type --------> which we can edit or alter ------> flexible in nature.
        2 immutable type ------> which we cannot edit or alter -----> fixed in nature.

In [ ]:
Introduction to string datatypes :
    
Defination : A string is series of characters declared in quotes.
Classification : It is classified as a immutable datatype.
    
How to declare the string datatype------------->
1) Single quote
2) Double quote

In [9]:
name = 'jhon'
print(name)

jhon

In [10]:
name2 = "peter"
print(name2)

peter

In [ ]:
Introduction to string methods :
    Methords are nothing but builting programs that are available in python to use directly.

In [11]:
type(name)

str

In [12]:
type(name2)

str

In [13]:
fullname = 'bhanu chandra'
print(fullname)

bhanu chandra

In [ ]:
# req : to get the right format

In [17]:
print(fullname.title())

Bhanu Chandra

In [ ]:
# req : to get the name in capital letter

In [18]:
print(fullname.upper())

BHANU CHANDRA

In [ ]:
# req : to get the name in small letter

In [19]:
print(fullname.lower())

bhanu chandra