In [ ]:
Working with the list datatype:

In [ ]:
Organising the list datatype:

In [1]:
cars =['kia','benz','maruti','honda','bmw','audi']

In [ ]:
# req : I want to print the list in the alphabetical order -------> A-Z

In [ ]:
two approaches :
    1. Temporary approach ========> sorted ====> we can maintain the original order of the list.
    2. Permanent approach ========> sort ======>changes are applied permanently.

In [2]:
print(sorted(cars)) # A, B, B, H, K, M =====> A-Z

['audi', 'benz', 'bmw', 'honda', 'kia', 'maruti']

In [ ]:
benz , bmw----------------- B, B =====> e, m

In [3]:
print(cars) # this is the original order

['kia', 'benz', 'maruti', 'honda', 'bmw', 'audi']

In [4]:
print(cars)

['kia', 'benz', 'maruti', 'honda', 'bmw', 'audi']

In [5]:
cars.sort()

In [6]:
print(cars)

['audi', 'benz', 'bmw', 'honda', 'kia', 'maruti']

In [7]:
print(cars)

['audi', 'benz', 'bmw', 'honda', 'kia', 'maruti']

In [ ]:
Interview Question :- What is the difference between sorted and sort method in a list?
    Answer:- Sorted returns the list in alphabetical order and we can also maintain the original order of the list which is temporary whereas sorted change the list alphabetical order permanentlt.

In [ ]:
# I want to print the list in reverse order?

In [8]:
print(cars)

['audi', 'benz', 'bmw', 'honda', 'kia', 'maruti']

In [ ]:
# maruti, kia, honda, bmw, benz and audi...

In [9]:
cars.reverse()

In [10]:
print(cars)

['maruti', 'kia', 'honda', 'bmw', 'benz', 'audi']

In [ ]:
# I want to know the number of elements in the list....?

In [12]:
len(cars)

6

In [ ]:
Introduction in slicing :

In [13]:
student = ['trinadh','akhil','ansari','david','sadiya','iqra','divya','swathi']

In [14]:
print(student)

['trinadh', 'akhil', 'ansari', 'david', 'sadiya', 'iqra', 'divya', 'swathi']

In [15]:
type(student)

list

In [ ]:
# general syntax of slicing

In [ ]:
[startvalue:stopvalue:stepcount]

In [ ]:
Note: stop value is always exclusive to include we have to increment the index by +1.

In [ ]:
# req : I want trinadh and akhil in the output...?

In [16]:
print(student[0:1])

['trinadh']

In [17]:
print(student[0:2])

['trinadh', 'akhil']

In [ ]:
# ansari and david......

In [18]:
print(student[2:4])

['ansari', 'david']

In [ ]:
# divya and swathi

In [19]:
print(student[6:8])

['divya', 'swathi']

In [20]:
print(student)

['trinadh', 'akhil', 'ansari', 'david', 'sadiya', 'iqra', 'divya', 'swathi']

In [21]:
print(student[0:8:2])

['trinadh', 'ansari', 'sadiya', 'divya']